# MongoDB Atlas Connection String
# Get this from your MongoDB Atlas dashboard
MONGODB_CONNECT=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/products-db?retryWrites=true&w=majority

# Server Port
PORT=3000
