/* child - first-of-type and last-of-type*/

li:nth-child(even){
    background-color: gray;
}

li:first-child{
    font-style: italic;
}

/* decorative - ::before ::after */

blockquote::before{
    content: open-quote;
}

blockquote::after{
    content: close-quote;
}

/* Attribute Selectors */

img[class]{
    border:5px solid black;
}

img[class]{
    border:5px solid black;
}

/* Decendant Selectors */

div{
    width: 200px;
    height: 20px;
    background-color: blue;
}

/* just target footer div */
/* any decendant/child of footer that is a div */
footer div{
    background-color: brown;
}

/* direct child */
footer > div{
    border: 10px solid gold;
}

/* target multiple selectors with a single rule/ruleset */
blockquote, p {
    font-style: oblique;
}

/* sibling selectors */

/* right after */
h2 + p {
    font-size: 50px;
    background-color: yellow;
}

/* general sibling */

.first-lorem ~ p {
    margin-left: 50px;
}




